/* --------------------------------------------------------------------------
 * transect popup
 * -------------------------------------------------------------------------- */

.transect-popup {
  min-width: 150px;
}

.transect-popup > strong {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

.transect-popup p {
  margin: 0px 0;
}

.transect-popup p strong {
  font-weight: 600;
}