/* --------------------------------------------------------------------------
 * vedge popup
 * -------------------------------------------------------------------------- */

.vedge-popup {
  min-width: 150px;
}

.vedge-popup > strong {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

.vedge-popup p {
  margin: 4px 0;
}

.vedge-popup p strong {
  font-weight: 600;
}