/* --------------------------------------------------------------------------
 * Legend control
 * -------------------------------------------------------------------------- */

.legend-control {
  width: 220px;
  padding: 10px;
  background: white;
}

.legend-title {
  margin-bottom: 8px;
  font-weight: bold;
}

.legend-colour-ramp {
  width: 100%;
  height: 6px;
  border-radius: 3px;

  background: linear-gradient(
    to right,
    #3f3f3f 0%,
    #a8cbff 56%,
    #408dff 79%,
    #0011a8 100%
  );
}

.legend-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  font-size: 11px;
}